In [1]:
import pandas as pd
from geopy.geocoders import Nominatim

In [2]:
#Load the original file
clean_weather_df=pd.read_csv('cities_weather_data.csv')
clean_weather_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kahului,US,2023-03-02 01:23:39,20.8947,-156.4700,74.30,92,40,14.97
1,1,Ponoka,CA,2023-03-02 01:23:39,52.6768,-113.5815,17.89,93,100,5.77
2,2,Kapaa,US,2023-03-02 01:23:40,22.0752,-159.3190,75.52,66,75,25.32
3,3,Douglas,US,2023-03-02 01:23:40,41.3000,-96.1670,32.88,78,0,13.80
4,4,Susanville,US,2023-03-02 01:22:25,40.4163,-120.6530,30.81,58,0,8.05
5,5,Hilo,US,2023-03-02 01:23:41,19.7297,-155.0900,71.11,90,89,5.01
6,6,Jimenez,MX,2023-03-02 01:23:42,28.3333,-105.4000,73.18,20,100,25.79
7,7,Rock Sound,BS,2023-03-02 01:23:42,24.9000,-76.2000,73.98,68,0,7.65
8,8,Kodiak,US,2023-03-02 01:23:43,57.7900,-152.4072,26.11,54,100,25.32
9,9,Terrace,CA,2023-03-02 01:23:43,54.5163,-128.6035,33.71,93,100,24.16

In [3]:
#Keep only US cities
clean_weather_df=clean_weather_df[clean_weather_df['Country']=="US"]
clean_weather_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kahului,US,2023-03-02 01:23:39,20.8947,-156.4700,74.30,92,40,14.97
2,2,Kapaa,US,2023-03-02 01:23:40,22.0752,-159.3190,75.52,66,75,25.32
3,3,Douglas,US,2023-03-02 01:23:40,41.3000,-96.1670,32.88,78,0,13.80
4,4,Susanville,US,2023-03-02 01:22:25,40.4163,-120.6530,30.81,58,0,8.05
5,5,Hilo,US,2023-03-02 01:23:41,19.7297,-155.0900,71.11,90,89,5.01
8,8,Kodiak,US,2023-03-02 01:23:43,57.7900,-152.4072,26.11,54,100,25.32
10,10,Bethel,US,2023-03-02 01:23:43,41.3712,-73.4140,38.48,82,100,6.91
13,13,Pascagoula,US,2023-03-02 01:22:38,30.3658,-88.5561,76.41,92,75,6.91
14,14,Greenwood,US,2023-03-02 01:23:45,34.1668,-82.1165,68.36,66,0,6.91
15,15,Half Moon Bay,US,2023-03-02 01:23:45,37.4636,-122.4286,56.01,61,0,20.71

In [4]:
#Use geopy to get states from lat and long
def get_state(lat,lon):
    geolocator = Nominatim(user_agent='my_app')
    location=geolocator.reverse(f"{lat}, {lon}")
    address=location.raw['address']
    state=address.get('state', '')
    return state

In [5]:
#Create the 'State' column from the geopy code
clean_weather_df['State']=clean_weather_df.apply(lambda row: get_state(row['Lat'], row['Lng']), axis=1)
clean_weather_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,State
0,0,Kahului,US,2023-03-02 01:23:39,20.8947,-156.4700,74.30,92,40,14.97,Hawaii
2,2,Kapaa,US,2023-03-02 01:23:40,22.0752,-159.3190,75.52,66,75,25.32,Hawaii
3,3,Douglas,US,2023-03-02 01:23:40,41.3000,-96.1670,32.88,78,0,13.80,Nebraska
4,4,Susanville,US,2023-03-02 01:22:25,40.4163,-120.6530,30.81,58,0,8.05,California
5,5,Hilo,US,2023-03-02 01:23:41,19.7297,-155.0900,71.11,90,89,5.01,Hawaii
8,8,Kodiak,US,2023-03-02 01:23:43,57.7900,-152.4072,26.11,54,100,25.32,Alaska
10,10,Bethel,US,2023-03-02 01:23:43,41.3712,-73.4140,38.48,82,100,6.91,Connecticut
13,13,Pascagoula,US,2023-03-02 01:22:38,30.3658,-88.5561,76.41,92,75,6.91,Mississippi
14,14,Greenwood,US,2023-03-02 01:23:45,34.1668,-82.1165,68.36,66,0,6.91,South Carolina
15,15,Half Moon Bay,US,2023-03-02 01:23:45,37.4636,-122.4286,56.01,61,0,20.71,California

In [6]:
#Create a state dictionary to use abbreviations for cross referencing
state_dict = {'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 
              'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA',
              'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 
              'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 
              'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 
              'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 
              'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 
              'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 
              'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 
              'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 
              'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

clean_weather_df['State']=clean_weather_df['State'].map(state_dict)
clean_weather_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,State
0,0,Kahului,US,2023-03-02 01:23:39,20.8947,-156.4700,74.30,92,40,14.97,HI
2,2,Kapaa,US,2023-03-02 01:23:40,22.0752,-159.3190,75.52,66,75,25.32,HI
3,3,Douglas,US,2023-03-02 01:23:40,41.3000,-96.1670,32.88,78,0,13.80,NE
4,4,Susanville,US,2023-03-02 01:22:25,40.4163,-120.6530,30.81,58,0,8.05,CA
5,5,Hilo,US,2023-03-02 01:23:41,19.7297,-155.0900,71.11,90,89,5.01,HI
8,8,Kodiak,US,2023-03-02 01:23:43,57.7900,-152.4072,26.11,54,100,25.32,AK
10,10,Bethel,US,2023-03-02 01:23:43,41.3712,-73.4140,38.48,82,100,6.91,CT
13,13,Pascagoula,US,2023-03-02 01:22:38,30.3658,-88.5561,76.41,92,75,6.91,MS
14,14,Greenwood,US,2023-03-02 01:23:45,34.1668,-82.1165,68.36,66,0,6.91,SC
15,15,Half Moon Bay,US,2023-03-02 01:23:45,37.4636,-122.4286,56.01,61,0,20.71,CA

In [8]:
#Reorder columns
clean_weather_df=clean_weather_df[['City_ID', 'City', 'State', 'Country', 'Date', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness', 'Wind Speed']]
clean_weather_df.head(10)

,City_ID,City,State,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kahului,HI,US,2023-03-02 01:23:39,20.8947,-156.4700,74.30,92,40,14.97
2,2,Kapaa,HI,US,2023-03-02 01:23:40,22.0752,-159.3190,75.52,66,75,25.32
3,3,Douglas,NE,US,2023-03-02 01:23:40,41.3000,-96.1670,32.88,78,0,13.80
4,4,Susanville,CA,US,2023-03-02 01:22:25,40.4163,-120.6530,30.81,58,0,8.05
5,5,Hilo,HI,US,2023-03-02 01:23:41,19.7297,-155.0900,71.11,90,89,5.01
8,8,Kodiak,AK,US,2023-03-02 01:23:43,57.7900,-152.4072,26.11,54,100,25.32
10,10,Bethel,CT,US,2023-03-02 01:23:43,41.3712,-73.4140,38.48,82,100,6.91
13,13,Pascagoula,MS,US,2023-03-02 01:22:38,30.3658,-88.5561,76.41,92,75,6.91
14,14,Greenwood,SC,US,2023-03-02 01:23:45,34.1668,-82.1165,68.36,66,0,6.91
15,15,Half Moon Bay,CA,US,2023-03-02 01:23:45,37.4636,-122.4286,56.01,61,0,20.71

In [9]:
# Create the output file (CSV).
output_data_file = "cities_weather_data_cleaned_us_only.csv"
# Export the data into a CSV.
clean_weather_df.to_csv(output_data_file, index_label="City_ID")