In [16]:
import pandas as pd
from geopy.geocoders import Nominatim

In [12]:
housing_cross_df=pd.read_csv("housing_data_for_cross_reference.csv")
housing_cross_df.head(10)

,city,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,NaN,36.009633,-119.711911,25.737712,2704.707569,524.781222,1369.778315,477.045327,3.973636,198786.950174
1,Anaheim,33.834185,-117.911413,25.864130,2248.619565,461.622951,1327.652174,434.173913,4.272001,215800.005435
2,Anderson,40.445000,-122.295000,31.000000,1278.000000,318.000000,767.000000,280.000000,1.524150,58300.000000
3,Antioch,37.998293,-121.813415,25.682927,3075.756098,549.926829,1496.048780,515.243902,3.813598,135736.585366
4,Atwater,37.356364,-120.596364,20.454545,2521.000000,531.600000,1521.818182,485.909091,2.936036,88572.727273
5,Bakersfield,35.362353,-119.017582,28.437908,2790.954248,561.302632,1504.542484,525.836601,2.904887,83654.248366
6,Berkeley,37.871875,-122.273571,48.875000,1946.187500,422.098214,940.160714,401.169643,3.570387,248342.866071
7,Blue Lake,40.880000,-123.980000,41.000000,1719.000000,372.000000,844.000000,336.000000,2.692300,84200.000000
8,Brawley,32.979091,-115.530000,24.818182,1783.272727,379.090909,1218.727273,365.363636,2.550027,76618.181818
9,Burbank,34.179351,-118.328571,38.649351,2310.636364,515.610390,1157.870130,491.649351,3.906626,263035.064935

In [15]:
housing_cross_df=housing_cross_df.iloc[1:]
housing_cross_df.head(10)

,city,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,Anaheim,33.834185,-117.911413,25.864130,2248.619565,461.622951,1327.652174,434.173913,4.272001,215800.005435
2,Anderson,40.445000,-122.295000,31.000000,1278.000000,318.000000,767.000000,280.000000,1.524150,58300.000000
3,Antioch,37.998293,-121.813415,25.682927,3075.756098,549.926829,1496.048780,515.243902,3.813598,135736.585366
4,Atwater,37.356364,-120.596364,20.454545,2521.000000,531.600000,1521.818182,485.909091,2.936036,88572.727273
5,Bakersfield,35.362353,-119.017582,28.437908,2790.954248,561.302632,1504.542484,525.836601,2.904887,83654.248366
6,Berkeley,37.871875,-122.273571,48.875000,1946.187500,422.098214,940.160714,401.169643,3.570387,248342.866071
7,Blue Lake,40.880000,-123.980000,41.000000,1719.000000,372.000000,844.000000,336.000000,2.692300,84200.000000
8,Brawley,32.979091,-115.530000,24.818182,1783.272727,379.090909,1218.727273,365.363636,2.550027,76618.181818
9,Burbank,34.179351,-118.328571,38.649351,2310.636364,515.610390,1157.870130,491.649351,3.906626,263035.064935
10,Calabasas,34.130000,-118.680000,9.000000,11251.000000,1594.000000,3029.000000,1227.000000,6.727300,500001.000000

In [18]:
#Use geopy to get the city and state
def get_state(lat, lon):
    geolocator = Nominatim(user_agent='my_app')
    location= geolocator.reverse(f"{lat}, {lon}")
    address= location.raw['address']
    return {'state': address.get('state', '')}

housing_cross_df[['state']]=housing_cross_df.apply(lambda row: pd.Series(get_state(row['latitude'], row['longitude'])), axis=1)
housing_cross_df.head(10)

,city,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,state
1,Anaheim,33.834185,-117.911413,25.864130,2248.619565,461.622951,1327.652174,434.173913,4.272001,215800.005435,California
2,Anderson,40.445000,-122.295000,31.000000,1278.000000,318.000000,767.000000,280.000000,1.524150,58300.000000,California
3,Antioch,37.998293,-121.813415,25.682927,3075.756098,549.926829,1496.048780,515.243902,3.813598,135736.585366,California
4,Atwater,37.356364,-120.596364,20.454545,2521.000000,531.600000,1521.818182,485.909091,2.936036,88572.727273,California
5,Bakersfield,35.362353,-119.017582,28.437908,2790.954248,561.302632,1504.542484,525.836601,2.904887,83654.248366,California
6,Berkeley,37.871875,-122.273571,48.875000,1946.187500,422.098214,940.160714,401.169643,3.570387,248342.866071,California
7,Blue Lake,40.880000,-123.980000,41.000000,1719.000000,372.000000,844.000000,336.000000,2.692300,84200.000000,California
8,Brawley,32.979091,-115.530000,24.818182,1783.272727,379.090909,1218.727273,365.363636,2.550027,76618.181818,California
9,Burbank,34.179351,-118.328571,38.649351,2310.636364,515.610390,1157.870130,491.649351,3.906626,263035.064935,California
10,Calabasas,34.130000,-118.680000,9.000000,11251.000000,1594.000000,3029.000000,1227.000000,6.727300,500001.000000,California

In [19]:
housing_cross_df = housing_cross_df[['city', 'state', 'latitude', 'longitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']]
housing_cross_df.head(10)

,city,state,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,Anaheim,California,33.834185,-117.911413,25.864130,2248.619565,461.622951,1327.652174,434.173913,4.272001,215800.005435
2,Anderson,California,40.445000,-122.295000,31.000000,1278.000000,318.000000,767.000000,280.000000,1.524150,58300.000000
3,Antioch,California,37.998293,-121.813415,25.682927,3075.756098,549.926829,1496.048780,515.243902,3.813598,135736.585366
4,Atwater,California,37.356364,-120.596364,20.454545,2521.000000,531.600000,1521.818182,485.909091,2.936036,88572.727273
5,Bakersfield,California,35.362353,-119.017582,28.437908,2790.954248,561.302632,1504.542484,525.836601,2.904887,83654.248366
6,Berkeley,California,37.871875,-122.273571,48.875000,1946.187500,422.098214,940.160714,401.169643,3.570387,248342.866071
7,Blue Lake,California,40.880000,-123.980000,41.000000,1719.000000,372.000000,844.000000,336.000000,2.692300,84200.000000
8,Brawley,California,32.979091,-115.530000,24.818182,1783.272727,379.090909,1218.727273,365.363636,2.550027,76618.181818
9,Burbank,California,34.179351,-118.328571,38.649351,2310.636364,515.610390,1157.870130,491.649351,3.906626,263035.064935
10,Calabasas,California,34.130000,-118.680000,9.000000,11251.000000,1594.000000,3029.000000,1227.000000,6.727300,500001.000000

In [20]:
#Change the states to the abbreviations
state_dict = {'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 
              'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA',
              'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 
              'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 
              'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 
              'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 
              'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 
              'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 
              'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 
              'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 
              'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY', 'District of Columbia': 'DC'}
housing_cross_df['state']=housing_cross_df['state'].map(state_dict)
housing_cross_df.head(10)

,city,state,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,Anaheim,CA,33.834185,-117.911413,25.864130,2248.619565,461.622951,1327.652174,434.173913,4.272001,215800.005435
2,Anderson,CA,40.445000,-122.295000,31.000000,1278.000000,318.000000,767.000000,280.000000,1.524150,58300.000000
3,Antioch,CA,37.998293,-121.813415,25.682927,3075.756098,549.926829,1496.048780,515.243902,3.813598,135736.585366
4,Atwater,CA,37.356364,-120.596364,20.454545,2521.000000,531.600000,1521.818182,485.909091,2.936036,88572.727273
5,Bakersfield,CA,35.362353,-119.017582,28.437908,2790.954248,561.302632,1504.542484,525.836601,2.904887,83654.248366
6,Berkeley,CA,37.871875,-122.273571,48.875000,1946.187500,422.098214,940.160714,401.169643,3.570387,248342.866071
7,Blue Lake,CA,40.880000,-123.980000,41.000000,1719.000000,372.000000,844.000000,336.000000,2.692300,84200.000000
8,Brawley,CA,32.979091,-115.530000,24.818182,1783.272727,379.090909,1218.727273,365.363636,2.550027,76618.181818
9,Burbank,CA,34.179351,-118.328571,38.649351,2310.636364,515.610390,1157.870130,491.649351,3.906626,263035.064935
10,Calabasas,CA,34.130000,-118.680000,9.000000,11251.000000,1594.000000,3029.000000,1227.000000,6.727300,500001.000000

In [21]:
# Create the output file (CSV).
output_data_file = "housing_data_for_cross_reference.csv"
# Export the data into a CSV.
housing_cross_df.to_csv(output_data_file)