In [1]:
import pandas as pd

In [2]:
#read the file
qol_df=pd.read_csv('quality_of_life_data.csv')
qol_df.head()

,ID,city_rank,city,qol_index,purchase_power,safety,healh_care,cost_of_living,prop_to_income_ratio,traffic_comm_time,pollution,climate
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.0,"Orlando, FL, United States",175.4,126.2,48.9,63.5,71.7,4.5,36.6,36.1,87.2
2,2,2.0,"Dallas, TX, United States",175.3,134.1,48.6,66.2,76.7,2.5,35.6,42.6,81.9
3,3,3.0,"Tampa, FL, United States",175.2,117.7,54.1,66.4,74.8,4.6,37.6,34.3,84.7
4,4,4.0,"San Antonio, TX, United States",174.8,134.7,50.9,67.4,67.4,4.4,32.4,46.5,80.6

In [3]:
#Drop the empty top row
qol_df=qol_df.iloc[1:]
qol_df.head()

,ID,city_rank,city,qol_index,purchase_power,safety,healh_care,cost_of_living,prop_to_income_ratio,traffic_comm_time,pollution,climate
1,1,1.0,"Orlando, FL, United States",175.4,126.2,48.9,63.5,71.7,4.5,36.6,36.1,87.2
2,2,2.0,"Dallas, TX, United States",175.3,134.1,48.6,66.2,76.7,2.5,35.6,42.6,81.9
3,3,3.0,"Tampa, FL, United States",175.2,117.7,54.1,66.4,74.8,4.6,37.6,34.3,84.7
4,4,4.0,"San Antonio, TX, United States",174.8,134.7,50.9,67.4,67.4,4.4,32.4,46.5,80.6
5,5,5.0,"Oklahoma City, OK, United States",174.8,95.6,49.3,69.6,72.4,3.7,27.5,25.7,77.6

In [4]:
#Split the city column into city, state, country
qol_df[['city','state','country']]=qol_df['city'].str.split(', ', expand=True)
qol_df.head()

,ID,city_rank,city,qol_index,purchase_power,safety,healh_care,cost_of_living,prop_to_income_ratio,traffic_comm_time,pollution,climate,state,country
1,1,1.0,Orlando,175.4,126.2,48.9,63.5,71.7,4.5,36.6,36.1,87.2,FL,United States
2,2,2.0,Dallas,175.3,134.1,48.6,66.2,76.7,2.5,35.6,42.6,81.9,TX,United States
3,3,3.0,Tampa,175.2,117.7,54.1,66.4,74.8,4.6,37.6,34.3,84.7,FL,United States
4,4,4.0,San Antonio,174.8,134.7,50.9,67.4,67.4,4.4,32.4,46.5,80.6,TX,United States
5,5,5.0,Oklahoma City,174.8,95.6,49.3,69.6,72.4,3.7,27.5,25.7,77.6,OK,United States

In [5]:
#Re-order the columns
qol_df=qol_df[['city_rank', 'city', 'state', 'country', 'qol_index', 'purchase_power', 'safety', 'healh_care', 'cost_of_living', 'prop_to_income_ratio', 'traffic_comm_time', 'pollution', 'climate']]
qol_df.head(20)

,city_rank,city,state,country,qol_index,purchase_power,safety,healh_care,cost_of_living,prop_to_income_ratio,traffic_comm_time,pollution,climate
1,1.0,Orlando,FL,United States,175.4,126.2,48.9,63.5,71.7,4.5,36.6,36.1,87.2
2,2.0,Dallas,TX,United States,175.3,134.1,48.6,66.2,76.7,2.5,35.6,42.6,81.9
3,3.0,Tampa,FL,United States,175.2,117.7,54.1,66.4,74.8,4.6,37.6,34.3,84.7
4,4.0,San Antonio,TX,United States,174.8,134.7,50.9,67.4,67.4,4.4,32.4,46.5,80.6
5,5.0,Oklahoma City,OK,United States,174.8,95.6,49.3,69.6,72.4,3.7,27.5,25.7,77.6
6,6.0,Jacksonville,FL,United States,174.8,133.7,42.9,69.2,68.7,4.9,35.9,41.2,87.8
7,7.0,Austin,TX,United States,174.7,122.8,59.2,67.6,74.2,6.1,35.2,40.8,82.1
8,8.0,San Diego,CA,United States,174.3,114.2,59.6,69.0,82.8,8.4,35.5,40.0,97.1
9,9.0,Raleigh,NC,United States,174.1,105.4,61.2,67.7,80.0,6.4,36.3,31.6,83.9
10,10.0,Columbus,OH,United States,174.0,119.9,52.0,68.4,72.1,7.1,30.4,32.3,71.3
11,11.0,Charlotte,NC,United States,174.0,108.9,53.4,69.5,79.9,3.5,36.8,33.3,84.0
12,12.0,Portland,OR,United States,173.8,111.0,44.5,72.6,82.9,5.0,33.5,32.6,89.6
13,13.0,San Jose,CA,United States,173.3,140.2,51.7,70.4,85.4,8.2,38.5,49.0,95.5
14,14.0,Tucson,AZ,United States,173.1,118.4,47.7,59.4,72.5,5.8,29.1,27.8,72.7
15,15.0,Indianapolis,IN,United States,172.9,129.3,41.4,73.6,74.1,2.0,29.5,42.2,69.9
16,16.0,Cincinnati,OH,United States,172.9,114.3,51.9,68.8,62.9,2.6,24.7,44.1,73.2
17,17.0,Buffalo,NY,United States,172.8,105.0,53.1,73.0,78.0,6.4,25.4,30.2,66.4
18,18.0,Seattle,WA,United States,172.6,118.1,46.9,71.8,94.0,5.8,42.7,31.3,91.7
19,19.0,Albuquerque,NM,United States,172.6,149.2,28.1,62.8,69.1,3.8,29.2,34.8,67.1
20,20.0,Calgary,Canada,None,172.3,108.4,63.1,74.6,72.4,4.8,30.4,24.3,33.1

In [7]:
#Keep only the US Cities
qol_df=qol_df[qol_df['country']=='United States']
qol_df.head(20)

,city_rank,city,state,country,qol_index,purchase_power,safety,healh_care,cost_of_living,prop_to_income_ratio,traffic_comm_time,pollution,climate
1,1.0,Orlando,FL,United States,175.4,126.2,48.9,63.5,71.7,4.5,36.6,36.1,87.2
2,2.0,Dallas,TX,United States,175.3,134.1,48.6,66.2,76.7,2.5,35.6,42.6,81.9
3,3.0,Tampa,FL,United States,175.2,117.7,54.1,66.4,74.8,4.6,37.6,34.3,84.7
4,4.0,San Antonio,TX,United States,174.8,134.7,50.9,67.4,67.4,4.4,32.4,46.5,80.6
5,5.0,Oklahoma City,OK,United States,174.8,95.6,49.3,69.6,72.4,3.7,27.5,25.7,77.6
6,6.0,Jacksonville,FL,United States,174.8,133.7,42.9,69.2,68.7,4.9,35.9,41.2,87.8
7,7.0,Austin,TX,United States,174.7,122.8,59.2,67.6,74.2,6.1,35.2,40.8,82.1
8,8.0,San Diego,CA,United States,174.3,114.2,59.6,69.0,82.8,8.4,35.5,40.0,97.1
9,9.0,Raleigh,NC,United States,174.1,105.4,61.2,67.7,80.0,6.4,36.3,31.6,83.9
10,10.0,Columbus,OH,United States,174.0,119.9,52.0,68.4,72.1,7.1,30.4,32.3,71.3
11,11.0,Charlotte,NC,United States,174.0,108.9,53.4,69.5,79.9,3.5,36.8,33.3,84.0
12,12.0,Portland,OR,United States,173.8,111.0,44.5,72.6,82.9,5.0,33.5,32.6,89.6
13,13.0,San Jose,CA,United States,173.3,140.2,51.7,70.4,85.4,8.2,38.5,49.0,95.5
14,14.0,Tucson,AZ,United States,173.1,118.4,47.7,59.4,72.5,5.8,29.1,27.8,72.7
15,15.0,Indianapolis,IN,United States,172.9,129.3,41.4,73.6,74.1,2.0,29.5,42.2,69.9
16,16.0,Cincinnati,OH,United States,172.9,114.3,51.9,68.8,62.9,2.6,24.7,44.1,73.2
17,17.0,Buffalo,NY,United States,172.8,105.0,53.1,73.0,78.0,6.4,25.4,30.2,66.4
18,18.0,Seattle,WA,United States,172.6,118.1,46.9,71.8,94.0,5.8,42.7,31.3,91.7
19,19.0,Albuquerque,NM,United States,172.6,149.2,28.1,62.8,69.1,3.8,29.2,34.8,67.1
22,22.0,Spokane,WA,United States,171.7,101.2,43.8,64.7,71.9,4.1,23.7,23.7,67.1

In [9]:
# Create the output file (CSV).
output_data_file = "qol_cleaned_us_only.csv"
# Export the data into a CSV.
qol_df.to_csv(output_data_file, index_label="ID")